[Desktop Entry]
Name=Instalar Emmi Linux
GenericName=Live Installer
Comment=Instalar sistema operacional no HD
Exec=gksudo /usr/bin/live-installer
Icon=live-installer
Terminal=False
Type=Application
Categories=System;
